main {
  
}
/* 섹션1 */
main section#one {
  padding-top: 200px;
}
main section#one div.wrap {
  background-image: url(../img/main/main1_bg.png);
  background-repeat: no-repeat;
  background-size: 1500px;
  max-width: 100%;
  background-position-x: center;
}
main section#one div.wrap .onetop{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
main section#one div.wrap .onetop h2 {
  text-align: center;
  font-weight: 600;
  line-height: 1.2;
  font-size: 49px;
}
main section#one div.wrap .onetop h2::after{
  content:"";
  border-bottom: solid 20px #f7d287;
  display: block;
  border-radius: 5px;
  position: absolute;
  bottom: 24%;
  width: 224px;
  z-index: -1;
}
main section#one div.wrap .onetop img {
  width: 860px;
  margin-left: 30px;
}
main section#one div.wrap .slideRe {
  height: 300px;
  width: 1290px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 30px;
}
main section#one div.wrap .slideRe .slick-prev{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 70px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px #4545451c;
}
main section#one div.wrap .slideRe .slick-next{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  right: 80px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px #4545451c;
}
main section#one div.wrap .slideRe .slick-list{
  
  height: 100%;
}
main section#one div.wrap .slideRe .slick-list .slick-track{
  display: flex;
  align-items: center;
  height: 100%;
}

main section#one div.wrap .slideRe .item {
  width: 340px !important;
  height: 210px;
  border-radius: 20px;
  background-color: #e9ebf1;
  padding: 25px 20px 30px 23px;
  box-sizing: border-box;
  margin: 0 25px;
}
main section#one div.wrap .slideRe .slick-list .slick-track .item{
/*   transform: scale(1.1);
  transition: 0.3s;
  margin-bottom: 50px; */
}
main section#one div.wrap .slideRe .slick-list .slick-track .item.slick-center{
  /*! display: block; */
  transform: scale(1.1);
  transition: 0.3s;
  margin-bottom: 50px;
  border: 3px solid #ffab31;
  background-color: #fff8e3;
  box-shadow: 0px 20px 8px #eee;
}
main section#one div.wrap .slideRe .slick-list .slick-track .item.slick-center p{
  color: #ffab31;
}
main section#one div.wrap .slideRe .slick-list .slick-track .item.slick-center span{
  color: #ffab31;
}
.slick-prev{
  
}
.slick-prev::before{
  font-size: 0 !important;
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../img/main/main1_arrow_left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10px;
}

.slick-next::before{
  font-size: 0 !important;
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../img/main/main1_arrow_right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10px;
}
main section#one div.wrap .slideRe .item p {
  color: #a3a3b5;
  line-height: 1.3;
  font-weight: 600;
  font-size: 24px;
  text-align: left;

}
main section#one div.wrap .slideRe .item p:hover{
  /*! color: inherit; */
}
main section#one div.wrap .slideRe .item span {
  color: rgb(163, 163, 181, 0.5);
  font-size: 18px;
  font-weight: 500;
  line-height: 5;
  display: block;
}
main section#one div.wrap .slideRe .item span:hover{
  /*! color: inherit; */
}
/* 섹션2 */
section#two{
  padding-top: 150px;
}
section#two .wrap{
  position: relative;
}
section#two .wrap h2{
  text-align: center;
  font-weight: 600;
}
section#two .wrap h2::after{
  content:"";
  border-bottom: solid 20px #f7d287;
  display: block;
  border-radius: 5px;
  position: absolute;
  top: 34px;
  width: 229px;
  z-index: -1;
  right: 213px;
}
section#two .wrap h3{
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  font-weight: 500;
  color: #555;
}
section#two .wrap img{

}
section#two .wrap p{
  width: 800px;
  height: 67px;
  margin: 0 auto;
  background-color: #f3f5fb;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  color: #6c768e;  
  border-radius: 20px;
  line-height: 2.2;
  margin-top: 50px;
}
/* 섹션3 */
section#three{
  max-width: 100%;
  width: 100%;
  height: 1652px;
  background-image: url(../img/main/main3_bg.png); 
  background-repeat: no-repeat;
  background-size: cover; 
  padding-top: 300px;
  box-sizing: border-box;
  position: relative;
}
section#three .wrap{
  position: relative;
}
section#three .wrap h2{
  font-weight: 600;
  text-align: center;
}
section#three .wrap h2::after{
  content:"";
  border-bottom: solid 20px #dbe4f2;
  display: block;
  border-radius: 5px;
  position: absolute;
  top: 31px;
  width: 440px;
  right: 190px;
  z-index: -1;
}
section#three .wrap .threeSub{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

section#three .wrap .threeSub li{

}
section#three .wrap .threeSub li:nth-child(1){
  
}
section#three .wrap .threeSub li:nth-child(2){
  
}
section#three .wrap .threeSub li:nth-child(3){
  
}
section#three .wrap .threeSub li:nth-child(4){
  
}
section#three .wrap .threeSub li:nth-child(5){
  
}

section#three .wrap .threeSub li a{
  font-size: 25px;
  font-weight: 600;
  color: #6c768e;
  border: 2px solid #6c768e;
  width: 195px;
  height: 68px;
  display: block;
  border-radius: 40px;
  text-align: center;
  line-height: 2.8;
  background-color: #f3f5fc;
}
.threehover{
  background-color: white !important;
}
section#three .wrap .threeSub li:nth-child(1) a::before{
  content: "";
  background-image: url(../img/main/main3-01.png);
  width: 34px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: sub;
  margin-right: 20px;
}
section#three .wrap .threeSub li:nth-child(2) a::before{
  content: "";
  background-image: url(../img/main/main3-02.png);
  width: 34px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: sub;
  margin-right: 20px;
}
section#three .wrap .threeSub li:nth-child(3) a::before{
  content: "";
  background-image: url(../img/main/main3-03.png);
  width: 34px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: sub;
  margin-right: 20px;
}
section#three .wrap .threeSub li:nth-child(4) a::before{
  content: "";
  background-image: url(../img/main/main3-04.png);
  width: 34px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: sub;
  margin-right: 20px;
}
section#three .wrap .threeSub li:nth-child(5) a::before{
  content: "";
  background-image: url(../img/main/main3-05.png);
  width: 34px;
  height: 34px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: sub;
  margin-right: 20px;
}
section#three .wrap .subImg{
  padding-top: 50px;
  box-sizing: border-box;
}
section#three .wrap .subImg li{
  font-size: 0;
}

section#three .wrap .subImg li:nth-child(1){
  
  display: none;
}
section#three .wrap .subImg li:nth-child(2){
  
  display: none;
}
section#three .wrap .subImg li:nth-child(3){
  
  display: none;
}
section#three .wrap .subImg li:nth-child(4){
  
  display: none;
}
section#three .wrap .subImg li:nth-child(5){
  
  display: none;
}
section#three .wrap .subImg li:nth-child(1)::before{
  content:"";
  background-image: url(../img/main/main3-01-01.png);
  width: 1062px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
section#three .wrap .subImg li:nth-child(2)::before{
  content:"";
  background-image: url(../img/main/main3-01-02.png);
  width: 1062px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
section#three .wrap .subImg li:nth-child(3)::before{
  content:"";
  background-image: url(../img/main/main3-01-03.png);
  width: 1062px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
section#three .wrap .subImg li:nth-child(4)::before{
  content:"";
  background-image: url(../img/main/main3-01-04.png);
  width: 1062px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
section#three .wrap .subImg li:nth-child(5)::before{
  content:"";
  background-image: url(../img/main/main3-01-05.png);
  width: 1062px;
  height: 600px;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}
section#three .wrap h3{
  text-align: center;
  line-height: 1.5;
  color: #555;
  font-weight: 600;
}
section#three .wrap h3 span{
  color: #00bdfb;
}
/* 섹션4 */
section#four{
  padding: 200px 0px 100px 0px;
}
section#four .wrap{
  position: relative;
  height: 100%;
  max-width: 100%;
}
section#four .wrap h2{
  font-weight: 600;
  text-align: center;
}
section#four .wrap h2::after{
  content:"";
  border-bottom: solid 20px #ffcd03;
  display: block;
  border-radius: 5px;
  position: absolute;
  top: 31px;
  width: 119px;
  right: 785px;
  z-index: -1;
}
section#four .wrap .cenbox{
  
  width: 100%;
  /*! height: 100%; */
  position: relative;
  margin: 0 auto;
}
section#four .wrap .cenbox .slick-prev{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  left: 420px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px #4545451c;
  top: 200px;
}
section#four .wrap .cenbox .slick-prev::before{
  font-size: 0 !important;
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../img/main/main1_arrow_left.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10px;
}
section#four .wrap .cenbox .slick-list{
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  margin-top: 80px;
}
section#four .wrap .cenbox .slick-list .slick-track{
  margin-top: 80px;
}
section#four .wrap .cenbox .slick-next{
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  right: 420px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px #4545451c;
  top: 200px;
}
section#four .wrap .cenbox .slick-next::before{
  font-size: 0 !important;
  width: 35px;
  height: 35px;
  display: block;
  background-image: url(../img/main/main1_arrow_right.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 10px;
}
section#four .wrap .cen{
  width: 882px !important;
  /*! height: 100%; */
  margin: auto 10px;
}
section#four .wrap .cenbox .slick-list .slick-track .slick-center{
  transform: translateY(-80px);
  transition: 0.3s;
}

section#four .wrap .cen.two{
  
}
section#four .wrap .cen.three{
  
}
section#four .wrap .cen.four{
  
}
section#four .wrap .cen h3{
  background-color: #f2f5fb;
  height: 374px;
  border-radius: 30px 30px 30px 0px;
  font-size: 30px;
  font-weight: 500;
  color: #1d3764;
  line-height: 1.5;
  padding: 50px;
  box-sizing: border-box;
}
section#four .wrap .cen ul{
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px 50px;
}
section#four .wrap .cen ul li{
  
}
section#four .wrap .cen ul li p{  
  font-size: 30px;
  color: #1d3764;
  line-height: 1.2;
}
section#four .wrap .cen ul li p span{
  
  font-weight: 700;
}